@{
    ViewBag.Title = "AddressBook";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}

        <div class='container-fluid'>
          <div class='row-fluid' id='content-wrapper'>
              </div>
              <div class='row-fluid'>
			  
			  <!--HER KOMMER INNHOLD PÅ SIDEN-->
                <div class='span12'>
                  <div class='page-header'>
                    <h1 class='pull-left'>
                      <i class='icon-group'></i>
                      <span>Kolleger</span>
                    </h1>
                    <div class='pull-right'>
                      <ul class='breadcrumb'>
                        <li>
                          <a href='index.html'>
                            <i class='icon-bar-chart'></i>
                          </a>
                        </li>
                        <li class='separator'>
                          <i class='icon-angle-right'></i>
                        </li>
                        <li class='active'>Kolleger</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row-fluid'>
                <div class='span12 box'>
                  <div class='box-content box-no-padding'>
                    <div class='clearfix' id='slider'>
                      <div class='slider-content'>
                        <ul>
                          <li id='a'>
                            <a class='title' name='a'>A</a>
                            <ul>
                            </ul>
                          </li>
                          <li id='b'>
                            <a class='title' name='b'>B</a>
                            <ul>
                              <li>
                                <a href='#'>Bjørn Wahl</a>
                              </li>
                            </ul>
                          </li>
                          <li id='c'>
                            <a class='title' name='c'>c</a>
                            <ul>
                            </ul>
                          </li>
                          <li id='d'>
                            <a class='title' name='d'>d</a>
                            <ul>
                            </ul>
                          </li>
                          <li id='e'>
                            <a class='title' name='e'>E</a>
                            <ul>
                            </ul>
                          </li>
                          <li id='f'>
                            <a class='title' name='f'>f</a>
                            <ul>
                            </ul>
                          </li>
                          <li id='g'>
                            <a class='title' name='g'>g</a>
                            <ul>
                            </ul>
                          </li>
                          <li id='h'>
                            <a class='title' name='h'>h</a>
                            <ul>
                              <li>
                                <a href='#'>Henrik Gundersen</a>
                              </li>
                            </ul>
                          </li>
                          <li id='i'>
                            <a class='title' name='i'>i</a>
                            <ul>
                              <li>
                                <a href='#'>Calista</a>
                              </li>
                              <li>
                                <a href='#'>Cathy</a>
                              </li>
                              <li>
                                <a href='#'>Chris</a>
                              </li>
                              <li>
                                <a href='#'>Cinderella</a>
                              </li>
                              <li>
                                <a href='#'>Corky</a>
                              </li>
                              <li>
                                <a href='#'>Cypher</a>
                              </li>
                            </ul>
                          </li>
                          <li id='j'>
                            <a class='title' name='j'>j</a>
                            <ul>
                              <li>
                                <a href='#'>damien</a>
                              </li>
                              <li>
                                <a href='#'>danny</a>
                              </li>
                              <li>
                                <a href='#'>denver</a>
                              </li>
                              <li>
                                <a href='#'>devon</a>
                              </li>
                              <li>
                                <a href='#'>doug</a>
                              </li>
                              <li>
                                <a href='#'>dustin</a>
                              </li>
                            </ul>
                          </li>
                          <li id='k'>
                            <a class='title' name='k'>k</a>
                            <ul>
                              <li>
                                <a href='#'>Barry</a>
                              </li>
                              <li>
                                <a href='#'>Becky</a>
                              </li>
                              <li>
                                <a href='#'>Biff</a>
                              </li>
                              <li>
                                <a href='#'>Billy</a>
                              </li>
                              <li>
                                <a href='#'>Bozarking</a>
                              </li>
                              <li>
                                <a href='#'>Bryan</a>
                              </li>
                            </ul>
                          </li>
                          <li id='l'>
                            <a class='title' name='l'>l</a>
                            <ul>
                              <li>
                                <a href='#'>Calista</a>
                              </li>
                              <li>
                                <a href='#'>Cathy</a>
                              </li>
                              <li>
                                <a href='#'>Chris</a>
                              </li>
                              <li>
                                <a href='#'>Cinderella</a>
                              </li>
                              <li>
                                <a href='#'>Corky</a>
                              </li>
                              <li>
                                <a href='#'>Cypher</a>
                              </li>
                            </ul>
                          </li>
                          <li id='m'>
                            <a class='title' name='m'>m</a>
                            <ul>
                              <li>
                                <a href='#'>damien</a>
                              </li>
                              <li>
                                <a href='#'>danny</a>
                              </li>
                              <li>
                                <a href='#'>denver</a>
                              </li>
                              <li>
                                <a href='#'>devon</a>
                              </li>
                              <li>
                                <a href='#'>doug</a>
                              </li>
                              <li>
                                <a href='#'>dustin</a>
                              </li>
                            </ul>
                          </li>
                          <li id='n'>
                            <a class='title' name='n'>n</a>
                            <ul>
                              <li>
                                <a href='#'>damien</a>
                              </li>
                              <li>
                                <a href='#'>danny</a>
                              </li>
                              <li>
                                <a href='#'>denver</a>
                              </li>
                              <li>
                                <a href='#'>devon</a>
                              </li>
                              <li>
                                <a href='#'>doug</a>
                              </li>
                              <li>
                                <a href='#'>dustin</a>
                              </li>
                            </ul>
                          </li>
                          <li id='o'>
                            <a class='title' name='o'>o</a>
                            <ul>
                              <li>
                                <a href='#'>damien</a>
                              </li>
                              <li>
                                <a href='#'>danny</a>
                              </li>
                              <li>
                                <a href='#'>denver</a>
                              </li>
                              <li>
                                <a href='#'>devon</a>
                              </li>
                              <li>
                                <a href='#'>doug</a>
                              </li>
                              <li>
                                <a href='#'>dustin</a>
                              </li>
                            </ul>
                          </li>
                          <li id='p'>
                            <a class='title' name='p'>p</a>
                            <ul>
                              <li>
                                <a href='#'>Barry</a>
                              </li>
                              <li>
                                <a href='#'>Becky</a>
                              </li>
                              <li>
                                <a href='#'>Biff</a>
                              </li>
                              <li>
                                <a href='#'>Billy</a>
                              </li>
                              <li>
                                <a href='#'>Bozarking</a>
                              </li>
                              <li>
                                <a href='#'>Bryan</a>
                              </li>
                            </ul>
                          </li>
                          <li id='q'>
                            <a class='title' name='q'>q</a>
                            <ul>
                              <li>
                                <a href='#'>Calista</a>
                              </li>
                              <li>
                                <a href='#'>Cathy</a>
                              </li>
                              <li>
                                <a href='#'>Chris</a>
                              </li>
                              <li>
                                <a href='#'>Cinderella</a>
                              </li>
                              <li>
                                <a href='#'>Corky</a>
                              </li>
                              <li>
                                <a href='#'>Cypher</a>
                              </li>
                            </ul>
                          </li>
                          <li id='r'>
                            <a class='title' name='r'>r</a>
                            <ul>
                              <li>
                                <a href='#'>damien</a>
                              </li>
                              <li>
                                <a href='#'>danny</a>
                              </li>
                              <li>
                                <a href='#'>denver</a>
                              </li>
                              <li>
                                <a href='#'>devon</a>
                              </li>
                              <li>
                                <a href='#'>doug</a>
                              </li>
                              <li>
                                <a href='#'>dustin</a>
                              </li>
                            </ul>
                          </li>
                          <li id='s'>
                            <a class='title' name='s'>s</a>
                            <ul>
                              <li>
                                <a href='#'>Barry</a>
                              </li>
                              <li>
                                <a href='#'>Becky</a>
                              </li>
                              <li>
                                <a href='#'>Biff</a>
                              </li>
                              <li>
                                <a href='#'>Billy</a>
                              </li>
                              <li>
                                <a href='#'>Bozarking</a>
                              </li>
                              <li>
                                <a href='#'>Bryan</a>
                              </li>
                            </ul>
                          </li>
                          <li id='t'>
                            <a class='title' name='t'>t</a>
                            <ul>
                              <li>
                                <a href='#'>Calista</a>
                              </li>
                              <li>
                                <a href='#'>Cathy</a>
                              </li>
                              <li>
                                <a href='#'>Chris</a>
                              </li>
                              <li>
                                <a href='#'>Cinderella</a>
                              </li>
                              <li>
                                <a href='#'>Corky</a>
                              </li>
                              <li>
                                <a href='#'>Cypher</a>
                              </li>
                            </ul>
                          </li>
                          <li id='u'>
                            <a class='title' name='u'>u</a>
                            <ul>
                              <li>
                                <a href='#'>damien</a>
                              </li>
                              <li>
                                <a href='#'>danny</a>
                              </li>
                              <li>
                                <a href='#'>denver</a>
                              </li>
                              <li>
                                <a href='#'>devon</a>
                              </li>
                              <li>
                                <a href='#'>doug</a>
                              </li>
                              <li>
                                <a href='#'>dustin</a>
                              </li>
                            </ul>
                          </li>
                          <li id='v'>
                            <a class='title' name='v'>v</a>
                            <ul>
                              <li>
                                <a href='#'>Barry</a>
                              </li>
                              <li>
                                <a href='#'>Becky</a>
                              </li>
                              <li>
                                <a href='#'>Biff</a>
                              </li>
                              <li>
                                <a href='#'>Billy</a>
                              </li>
                              <li>
                                <a href='#'>Bozarking</a>
                              </li>
                              <li>
                                <a href='#'>Bryan</a>
                              </li>
                            </ul>
                          </li>
                          <li id='w'>
                            <a class='title' name='w'>w</a>
                            <ul>
                              <li>
                                <a href='#'>Calista</a>
                              </li>
                              <li>
                                <a href='#'>Cathy</a>
                              </li>
                              <li>
                                <a href='#'>Chris</a>
                              </li>
                              <li>
                                <a href='#'>Cinderella</a>
                              </li>
                              <li>
                                <a href='#'>Corky</a>
                              </li>
                              <li>
                                <a href='#'>Cypher</a>
                              </li>
                            </ul>
                          </li>
                          <li id='x'>
                            <a class='title' name='x'>x</a>
                            <ul>
                              <li>
                                <a href='#'>damien</a>
                              </li>
                              <li>
                                <a href='#'>danny</a>
                              </li>
                              <li>
                                <a href='#'>denver</a>
                              </li>
                              <li>
                                <a href='#'>devon</a>
                              </li>
                              <li>
                                <a href='#'>doug</a>
                              </li>
                              <li>
                                <a href='#'>dustin</a>
                              </li>
                            </ul>
                          </li>
                          <li id='y'>
                            <a class='title' name='y'>y</a>
                            <ul>
                              <li>
                                <a href='#'>damien</a>
                              </li>
                              <li>
                                <a href='#'>danny</a>
                              </li>
                              <li>
                                <a href='#'>denver</a>
                              </li>
                              <li>
                                <a href='#'>devon</a>
                              </li>
                              <li>
                                <a href='#'>doug</a>
                              </li>
                              <li>
                                <a href='#'>dustin</a>
                              </li>
                            </ul>
                          </li>
                          <li id='z'>
                            <a class='title' name='z'>z</a>
                            <ul>
                              <li>
                                <a href='#'>Z-Navn1</a>
                              </li>
                              <li>
                                <a href='#'>Z-navn2</a>
                              </li>
                              <li>
                                <a href='#'>Z-navn3</a>
                              </li>
                              <li>
                                <a href='#'>Z-navn4</a>
                              </li>
                              <li>
                                <a href='#'>Z-navn5</a>
                              </li>
                              <li>
                                <a href='#'>Z-navn6</a>
                              </li>
                            </ul>
                          </li>
                          <li id='æ'>
                            <a class='title' name='æ'>æ</a>
                            <ul>
                              <li>
                                <a href='#'>Æ-navn1</a>
                              </li>
                              <li>
                                <a href='#'>Æ-navn2</a>
                              </li>
                              <li>
                                <a href='#'>Æ-navn3</a>
                              </li>
                              <li>
                                <a href='#'>Æ-navn4</a>
                              </li>
                            </ul>
                          </li>
                          <li id='ø'>
                            <a class='title' name='ø'>ø</a>
                            <ul>
                              <li>
                                <a href='#'>Ø-navn1</a>
                              </li>
                              <li>
                                <a href='#'>Ø-navn2</a>
                              </li>
                              <li>
                                <a href='#'>Ø-navn3</a>
                              </li>
                              <li>
                                <a href='#'>Ø-navn4</a>
                              </li>
                              <li>
                                <a href='#'>Ø-navn5</a>
                              </li>
                              <li>
                                <a href='#'>Ø-navn6</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>