@model Arbeidstider.Web.Framework.ViewModels.Dashboard.AddressBook
@{
    ViewBag.Title = "AddressBook";
}

        <div class='container-fluid'>
          <div class='row-fluid' id='content-wrapper'>
              </div>
              <div class='row-fluid'>
			  
			  <!--HER KOMMER INNHOLD PÅ SIDEN-->
                <div class='span12'>
                  <div class='page-header'>
                    <h1 class='pull-left'>
                      <i class='icon-group'></i>
                      <span>Kolleger</span>
                    </h1>
                    <div class='pull-right'>
                      <ul class='breadcrumb'>
                        <li>
                          <a href='index.html'>
                            <i class='icon-bar-chart'></i>
                          </a>
                        </li>
                        <li class='separator'>
                          <i class='icon-angle-right'></i>
                        </li>
                        <li class='active'>Kolleger</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row-fluid'>
                <div class='span12 box'>
                  <div class='box-content box-no-padding'>
                    <div class='clearfix' id='slider'>
                      <div class='slider-content'>
                          <ul>
                                @foreach (var letter in Model.Letters)
                                {
                                    <li id='@letter.ToLower()'>
                                        <a class='title' name='@letter.ToLower()'>@letter</a>
                                        <ul>
                                            @foreach (var colleague in Model.Colleagues.Where(x => x.Fullname.StartsWith(letter)))
                                            {
                                                <li>
                                                    <a href='#'>@colleague.Fullname</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                          </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>