<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("Header")
        @Html.Partial("Stylesheets")
        <script id="login-template" type="text/template"></script>
        <script data-main="js/main" src="@Url.Content("~/js/libs/require/require.js")"></script>
    </head>
    <body>
        <div id="application">
            <!--login-->
            <!-- dashboard -->
            <div id="dashboard">
                <!-- header, .main-menu-container -->
                <!--<header class="main-menu-container"></header>-->
                <!--<div id="sidebar"></div>-->
                <div id='wrapper'>
                    <section id="content">
                        <!--<div id="my-working-hours"></div>-->
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>