<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Auth" connectionString="Data Source=remote.bjonn.com,4200\SQLSERVER; User ID=dbUserArbeidstider; Password=kottbullar2013; Initial Catalog=Arbeidstider.Auth;" />
    <add name="AuthRelease" connectionString="Data Source=remote.bjonn.com,4200\SQLSERVER; User ID=dbUserArbeidstider; Password=kottbullar2013; Initial Catalog=Arbeidstider.Auth;" />
    <add name="Release" connectionString="Data Source=.,4200\SQLSERVER;Initial Catalog=Arbeidstider;User ID=dbUserArbeidstider;Password=kottbullar2013"  />
    <add name="Debug" connectionString="Data Source=remote.bjonn.com,4200\SQLSERVER;Initial Catalog=Arbeidstider;User ID=dbUserArbeidstider;Password=kottbullar2013" />
    <add connectionString="Data Source=db.arbeidstider.no,4200\SQLSERVER;Initial Catalog=Arbeidstider;User ID=sa;Password=Sch00lg1rl" name="Test" />
  </connectionStrings>
    <appSettings>
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.15.0" newVersion="2.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>