<div class='navigation'>
    <ul class='nav nav-stacked'>
        <li class='active'>
            <a href="dashboard" class="navigation-link" data-target="dashboard">
                <i class='icon-dashboard'></i>
                <span>Mine Arbeidstider</span>
            </a>
        </li>
        <li class=''>
            <a class="dropdown-collapse" data-toggle="collapse" data-target=".navigation"  href="#"><i class='icon-sitemap'></i>
                <span>Funksjoner</span>
                <i class='icon-angle-down angle-down'></i>
            </a>
            <ul class='nav nav-stacked'>
                <li class=''>
                    <a href='changeWorkDay' class="navigation-link" data-target="changeWorkDay">
                        <i class='icon-caret-right'></i>
                        <span>Bytt vakt med kollega</span>
                    </a>
                </li>
                <li class=''>
                    <a href='setDaysFree' class="navigation-link" data-target="setDaysFree">
                        <i class='icon-caret-right'></i>
                        <span>Søk om fri</span>
                    </a>
                </li>
                <li class='confirmAvailableDays'>
                    <a href='#' class="navigation-link" data-target="confirmAvailableDays">
                        <i class='icon-caret-right'></i>
                        <span>Sett faste fridager</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a class="navigation-link" href="addressbook" data-target="addressbook">
                <i class='icon-group'></i>
                <span>Kolleger</span>
            </a>
        </li>
        <li class=''>
            <a href='messages' class="navigation-link" data-target="messages">
                <i class='icon-comments'></i>
                <span>Meldinger</span>
            </a>
        </li>
        <li>
            <a class="navigation-link" href="profile" data-target="profile">
                <i class='icon-cogs'></i>
                <span>Innstillinger</span>
                <i class=''></i>
            </a>
    </ul>
</div>