<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("Header")
        @Html.Partial("Stylesheets")
        <script data-main="js/main" src="@Url.Content("~/js/libs/require/require.js")"></script>
    </head>
    <body>
        <div id="view-application"></div>

    </body>
</html>