<!DOCTYPE html>
<html>
<head>
    <title>Arbeidstider.no &bull; Logg inn</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta content='text/html;charset=utf-8' http-equiv='content-type'>
    <meta content='Opptimaliserte vaktlister på nett' name='description'>
    <link href='/img/meta_icons/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='/img/meta_icons/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
    <link href='/img/meta_icons/apple-touch-icon-57x57.png' rel='apple-touch-icon-precomposed' sizes='57x57'>
    <link href='/img/meta_icons/apple-touch-icon-72x72.png' rel='apple-touch-icon-precomposed' sizes='72x72'>
    <link href='/img/meta_icons/apple-touch-icon-114x114.png' rel='apple-touch-icon-precomposed' sizes='114x114'>
    <link href='/img/meta_icons/apple-touch-icon-144x144.png' rel='apple-touch-icon-precomposed' sizes='144x144'>
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <!-- / bootstrap [required files] -->
    <link href="/css/bootstrap/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / jquery ui -->
    <link href="/css/jquery_ui/jquery.ui-1.10.0.custom.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/jquery_ui/jquery.ui.1.10.0.ie.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / theme files [required files] -->
    <link href="/css/light-theme.css" media="all" id="color-settings-body-color" rel="stylesheet" type="text/css" />
    <link href="/css/theme-colors.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/demo.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body class="contrast-red sign-in contrast-background">
    <div id='wrapper'>
        <div class='application'>
            <div class='application-content'>
                <a href='login'>
                    <div class='icon-heart'></div>
                    <span>Mine Arbeidstider</span>
                </a>
            </div>
        </div>
        <div class='controls'>
            <div class='caret'></div>
            <div class='form-wrapper'>
                <h1 class='text-center'>Logg inn</h1>
                <div class='row-fluid'>
                    <div class='span12 icon-over-input'>
                        <input value="" placeholder="Brukernavn" class="span12" name="UserName" type="text" />
                        <i class='icon-user muted'></i>
                    </div>
                </div>
                <div class='row-fluid'>
                    <div class='span12 icon-over-input'>
                        <input value="" placeholder="Passord" class="span12" name="Password" type="password" />
                        <i class='icon-lock muted'></i>
                    </div>
                </div>
                <button class='btn btn-block'>Logg inn</button>
                <div class='text-center'>
                    <hr class='hr-normal'>
                    <a href='forgot-password.html'>Glemt passordet ditt?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- / jquery -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/js/libs/store/store.js"></script>
    <script>
        $(document).ready(function () {
            function ServiceUrl(action) {
                var baseUrl;
                if (document.domain.indexOf("localhost") > -1)
                    baseUrl = "http://localhost:8181";
                else
                {        
                    $.support.cors = true;
                    baseUrl = "http://services.arbeidstider.no";
                }          
                return baseUrl + action;
            }
            
            function makeBaseAuth()
            {
                var data = 
                            {
                                UserName: $('input[name="UserName"]').val(),
                                Password: $('input[name="Password"]').val(),
                            };
                var tok = data.UserName + ':' + data.Password;
                var hash = btoa(tok);
                return "Basic " + hash;
            }

            $(".btn-block").click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    url: ServiceUrl("/auth"),
                    async: false,
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                        console.log(errorThrown);
                    },
                    success: loginSuccess,
                    beforeSend: function(xhr) { xhr.setRequestHeader("Authorization", makeBaseAuth()); }
                });

                function loginSuccess(response) {
                    console.log("response: " + JSON.stringify(response));
                    var sessionId = response.SessionId;
                    console.log("sessionId: " + sessionId);
                    $.ajax({
                        type: "GET",
                        url: ServiceUrl("/getsession"),
                        data: { SessionId: sessionId },
                        dataType: "json",
                        contentType: "application/json",
                        success: function(data) {
                            var session = {
                                sessionId: data.AuthSession.Id,
                                userId: data.AuthSession.UserAuthId,
                                email: data.AuthSession.Email,
                                username: data.AuthSession.UserAuthName,
                                fullname: data.AuthSession.DisplayName,
                                roles: data.AuthSession.Roles
                            };
                            store.remove("AuthSession");
                            store.set("AuthSession", session);
                            window.location.href = "/";
                        },
                        beforeSend: function(xhr) { xhr.setRequestHeader("Session-Id", sessionId); }
                    });
                }
            });
        });
    </script>
</body>
</html>
