<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.1" targetFramework="net40" />
  <package id="log4net" version="2.0.2" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="RestSharp" version="104.4.0" targetFramework="net40" />
  <package id="ServiceStack" version="4.0.3" targetFramework="net40" />
  <package id="ServiceStack.Client" version="4.0.3" targetFramework="net40" />
  <package id="ServiceStack.Common" version="4.0.3" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.3" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.3" targetFramework="net40" />
</packages>