@model Arbeidstider.Web.Framework.ViewModels.Account.LoginModel

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Log in";
}

@using (Html.BeginForm(new RouteValueDictionary() { {"ReturnUrl", string.Empty}, { "controller", "Account"}, { "action", "login"}} ))
{
    @Html.ValidationSummary(true)
    <div class='application'>
        <div class='application-content'>
            <a href='@Url.Action("Login", "Account")'>
                <div class='icon-heart'></div>
                <span>Mine Arbeidstider</span>
            </a>
        </div>
    </div>
    <div class='controls'>
        <div class='caret'></div>
        <div class='form-wrapper'>
            <h1 class='text-center'>Logg inn</h1>
            <div class='row-fluid'>
                <div class='span12 icon-over-input'>
                    <input value="" placeholder="Brukernavn" name="UserName" class="span12" type="text" />
                    <i class='icon-user muted'></i>
                </div>
            </div>
            <div class='row-fluid'>
                <div class='span12 icon-over-input'>
                    <input value="" placeholder="Passord" class="span12" name="Password" type="password" />
                    <i class='icon-lock muted'></i>
                </div>
            </div>
            <label class='checkbox' for='remember_me'>
                <input id='remember_me' name='RememberMe' type='checkbox'>
                Husk meg
            </label>
            <button class='btn btn-block'>Logg inn</button>
            <div class='text-center'>
                <hr class='hr-normal'>
                <a href='forgot_password.html'>Glemt passordet ditt?</a>
            </div>
        </div>
    </div>
}
