      <div class='error-type'>
        <i class='icon-question-sign'></i>
        <span>404</span>
      </div>
      <div class='error-message'>
        Ooops! Vi klarer ikke å finne det du leter etter.
<br> Kanskje siden er flyttet, eller skrev du feil URL?
      </div>
      <a class='btn btn-block' href='index.html'>
        <i class='icon-chevron-left'></i>
        Gå tilbake
      </a>