@{
    Layout = "_Layout.cshtml";
}
      <div class='error-type'>
        <i class='icon-cogs'></i>
        <span>500</span>
      </div>
      <div class='error-message'>
        Ooops! Noe gikk vist galt.
        <br>
        Men slapp helt av - vi vil fikse det fort. Prøv igjen om litt.
      </div>
      <div class='youcan'>
      <a class='btn btn-block' href='index.html'>
        <i class='icon-chevron-left'></i>
        Gå tilbake
      </a>
    </div>