        <div class='span6'>
            <div class='row-fluid'>
                <div class='span12 box box-bordered gray-border box-nomargin'>
                    <div class='box-header gray-background'>
                        <div class='title'>
                            <i class='icon-calendar'></i>
                            Kalender
                        </div>
                    </div>
                    <div class='box-content calendar-items'>
                        <div class='full-calendar-demo'></div>
                    </div>
                </div>
            </div>
        </div>

        <div class='span6'>
            <p><b>Notat!</b></p>
            <p>
                Her må det legges inn en annen kalender som gjerne er<br>
                responsiv. Det vil si at den kan gjøres større og mindre<br>
                ut i fra størrelsen på skjermen.
            </p>
        </div>

        <!--HER SLUTTER INNHOLD PÅ SIDEN-->