<!-- TODO: Putta i separat quicklinks view-->
<div class='row-fluid'>
    <div class='span12'>
        <div class='page-header page-header-with-buttons'>
            <h1 class='pull-left'>
                <i class='icon-dashboard'></i>
                <span>Mine Arbeidstimer</span>
            </h1>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 box">
        <div class="box-transparent box-padding">
            <div class="span3">
                <div class="box-quick-link blue-background">
                    <a href="#">
                        <div class="header">
                            <div class="icon-calendar"></div>
                        </div>
                        <div class="content">Kalender</div>
                    </a>
                </div>
            </div>
            <div class="span3">
                <div class="box-quick-link green-background">
                    <a href="#">
                        <div class="header">
                            <div class="icon-comment"></div>
                        </div>
                        <div class="content">Beskjeder</div>
                    </a>
                </div>
            </div>
            <div class="span3">
                <div class="box-quick-link orange-background">
                    <a href="#">
                        <div class="header">
                            <div class="icon-group"></div>
                        </div>
                        <div class="content">Kolleger</div>
                    </a>
                </div>
            </div>
            <div class="span3">
                <div class="box-quick-link red-background">
                    <a href="orders.html">
                        <div class="header">
                            <div class="icon-gear"></div>
                        </div>
                        <div class="content">Innstillinger</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Quiklinks slutt-->

    <div class="row-fluid">
        <div class="span12 box">
            <div class="box-header blue-background">
                <div class="title">
                    <div class="icon-male"></div>
                    Personalia
                </div>
            </div>
            <div class="box-content box-padding">
                INNHOLD?
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6 box">
            <div class="box-header">
                <div class="title">
                    <div class="icon-calendar-empty"></div>
                    Denne uken
                </div>
            </div>
            <div class="box-content box-statistic">
                <h4 class="title text-primary">Neste arbeidsdag</h4>
                <hr class="hr-normal" />
                <p class="title"><strong>Lørdag 10:00 - 14:00</strong></p>
                <p>22.02.2014</p>
                <div class="text-primary icon-truck align-right"></div>
            </div>
            <div class="box-content box-statistic">
                <h3 class="title text-success">21</h3>
                <small>timer denne uken</small>
                <div class="text-success icon-flag align-right"></div>
            </div>
            <div class="box-content box-statistic">
                <h3 class="title text-muted">0</h3>
                <small>Canceled</small>
                <div class="text-muted icon-remove align-right"></div>
            </div>
            <div class="box-content box-statistic">
                <h3 class="title text-error">9100</h3>
                <small>Unique</small>
                <div class="text-error icon-user align-right"></div>
            </div>
        </div>
        <div class="span6 box">
            <div class="box-header">
                <div class="title">
                    <div class="icon-inbox"></div>
                    Orders
                </div>
            </div>
            <div class="box-content box-statistic">
                <h3 class="title text-primary">3</h3>
                <small>Shipped</small>
                <div class="text-primary icon-truck align-right"></div>
            </div>
            <div class="box-content box-statistic">
                <h3 class="title text-success">981</h3>
                <small>Completed</small>
                <div class="text-success icon-flag align-right"></div>
            </div>
            <div class="box-content box-statistic">
                <h3 class="title text-muted">0</h3>
                <small>Canceled</small>
                <div class="text-muted icon-remove align-right"></div>
            </div>
            <div class="box-content box-statistic">
                <h3 class="title text-error">9100</h3>
                <small>Unique</small>
                <div class="text-error icon-user align-right"></div>
            </div>

        </div>
    </div>

</div>
