    <div class='navbar navbar-fixed-top'>
	<div class='navbar-inner'>
	    <div class='container-fluid'>
		<a class='brand' href='index.html'>
		    <i class='icon-heart-empty'></i>
		    <span class='hidden-phone'>Arbeidstider</span>
		</a>
		<a class='toggle-nav btn pull-left' href='#'>
		    <i class='icon-reorder'></i>
		</a>
		<ul class='nav pull-right'>
  
		    <li class='dropdown dark user-menu'>
			<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
			    <img width="23" height="23" alt="Henrik Gundersen" src="/Assets/Images/avatar.jpg" />
			    <span class='user-name hidden-phone'>@Html.Fullname()</span>
			    <b class='caret'></b>
			</a>
			<ul class='dropdown-menu'>
			    <li>
				<a href="@Url.Action("UserProfile", "Dashboard")">
				    <i class='icon-user'></i>
				    Profil
				</a>
			    </li>
			    <li>
				<a href="@Url.Action("UserProfile", "Dashboard")">
				    <i class='icon-cog'></i>
				    Innstillinger
				</a>
			    </li>
			    <li class='divider'></li>
			    <li>
				<a class="logoff">
				    <i class='icon-signout'></i>
				    Logg ut
				</a>
			    </li>
			</ul>
		    </li>
		</ul>
	    </div>
	</div>
    </div>

