<!DOCTYPE html>
<html>
<head>
    <title>Mine Arbeidstider</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='Opptimaliserte vaktlister på nett' name='description'>
    <link href='assets/images/meta_icons/favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <link href='assets/images/meta_icons/apple-touch-icon.png' rel='apple-touch-icon-precomposed'>
    <link href='assets/images/meta_icons/apple-touch-icon-57x57.png' rel='apple-touch-icon-precomposed' sizes='57x57'>
    <link href='assets/images/meta_icons/apple-touch-icon-72x72.png' rel='apple-touch-icon-precomposed' sizes='72x72'>
    <link href='assets/images/meta_icons/apple-touch-icon-114x114.png' rel='apple-touch-icon-precomposed' sizes='114x114'>
    <link href='assets/images/meta_icons/apple-touch-icon-144x144.png' rel='apple-touch-icon-precomposed' sizes='144x144'>
    <!--[if lt IE 9]>
      <script src="assets/javascripts/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <!-- / bootstrap [required files] -->
    <link href="assets/stylesheets/bootstrap/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="assets/stylesheets/bootstrap/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / jquery ui -->
    <link href="assets/stylesheets/jquery_ui/jquery.ui-1.10.0.custom.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="assets/stylesheets/jquery_ui/jquery.ui.1.10.0.ie.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / switch buttons -->
    <link href="assets/stylesheets/plugins/bootstrap_switch/bootstrap-switch.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / xeditable -->
    <link href="assets/stylesheets/plugins/xeditable/bootstrap-editable.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="assets/stylesheets/plugins/common/bootstrap-wysihtml5.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / wysihtml5 (wysywig) -->
    <link href="assets/stylesheets/plugins/common/bootstrap-wysihtml5.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / jquery file upload -->
    <link href="assets/stylesheets/plugins/jquery_fileupload/jquery.fileupload-ui.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / full calendar -->
    <link href="assets/stylesheets/plugins/fullcalendar/fullcalendar.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / select2 -->
    <link href="assets/stylesheets/plugins/select2/select2.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / mention -->
    <link href="assets/stylesheets/plugins/mention/mention.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / tabdrop (responsive tabs) -->
    <link href="assets/stylesheets/plugins/tabdrop/tabdrop.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / jgrowl notifications -->
    <link href="assets/stylesheets/plugins/jgrowl/jquery.jgrowl.min.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / datatables -->
    <link href="assets/stylesheets/plugins/datatables/bootstrap-datatable.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / dynatrees (file trees) -->
    <link href="assets/stylesheets/plugins/dynatree/ui.dynatree.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / color picker -->
    <link href="assets/stylesheets/plugins/bootstrap_colorpicker/bootstrap-colorpicker.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / datetime picker -->
    <link href="assets/stylesheets/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.min.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / daterange picker) -->
    <link href="assets/stylesheets/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / flags (country flags) -->
    <link href="assets/stylesheets/plugins/flags/flags.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / slider nav (address book) -->
    <link href="assets/stylesheets/plugins/slider_nav/slidernav.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / fuelux (wizard) -->
    <link href="assets/stylesheets/plugins/fuelux/wizard.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- / theme files [required files] -->
    <link href="assets/stylesheets/light-theme.css" media="all" id="color-settings-body-color" rel="stylesheet" type="text/css" />
    <link href="assets/stylesheets/theme-colors.css" media="all" rel="stylesheet" type="text/css" />
    <link href="assets/stylesheets/demo.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body class='contrast-red fixed-header fixed-navigation'>
    <header>
        <div class='navbar navbar-fixed-top'>
            <div class='navbar-inner'>
                <div class='container-fluid'>
                    <a class='brand' href='index.html'>
                        <i class='icon-heart-empty'></i>
                        <span class='hidden-phone'>Arbeidstider</span>
                    </a>
                    <a class='toggle-nav btn pull-left' href='#'>
                        <i class='icon-reorder'></i>
                    </a>
                    <ul class='nav pull-right'>

                        <li class='dropdown dark user-menu'>
                            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                                <img width="23" height="23" alt="Henrik Gundersen" src="assets/images/avatar.jpg" />
                                <span class='user-name hidden-phone'>Henrik Gundersen</span>
                                <b class='caret'></b>
                            </a>
                            <ul class='dropdown-menu'>
                                <li>
                                    <a href='user_profile.html'>
                                        <i class='icon-user'></i>
                                        Profil
                                    </a>
                                </li>
                                <li>
                                    <a href='user_profile.html'>
                                        <i class='icon-cog'></i>
                                        Innstillinger
                                    </a>
                                </li>
                                <li class='divider'></li>
                                <li>
                                    <a href='sign_in.html'>
                                        <i class='icon-signout'></i>
                                        Logg ut
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id='wrapper'>
        <div id='main-nav-bg'></div>
        <nav class='main-nav-fixed' id='main-nav'>
            <div class='navigation'>
                <ul class='nav nav-stacked'>
                    <li class='active'>
                        <a href='index.html'>
                            <i class='icon-dashboard'></i>
                            <span>Mine Arbeidstider</span>
                        </a>
                    </li>
                    <li class=''>
                        <a class="dropdown-collapse" href="#"><i class='icon-sitemap'></i>
                            <span>Funksjoner</span>
                            <i class='icon-angle-down angle-down'></i>
                        </a>

                        <ul class='nav nav-stacked'>
                            <li class=''>
                                <a href='#'>
                                    <i class='icon-caret-right'></i>
                                    <span>Bytt vakt med kollega</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='#'>
                                    <i class='icon-caret-right'></i>
                                    <span>Søk om fri</span>
                                </a>
                            </li>
                            <li class=''>
                                <a href='/cant_work.html'>
                                    <i class='icon-caret-right'></i>
                                    <span>Sett faste fridager</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class='' href='address_book.html'>
                            <i class='icon-group'></i>
                            <span>Kolleger</span>
                        </a>
                    </li>
                    <li class=''>
                        <a href='chats.html'>
                            <i class='icon-comments'></i>
                            <span>Meldinger</span>
                        </a>
                    </li>
                    <li>
                        <a class='' href='#'>
                            <i class='icon-cogs'></i>
                            <span>Innstillinger</span>
                            <i class=''></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <section id='content'>
            <div class='container-fluid'>
                <div id="page-header-wrapper">
                    <!--       
                <div class='row-fluid' >
                        <div class='span12'>
                                    <div class='page-header page-header-with-buttons'>
                                        <h1 class='pull-left'>
                                            <i class='icon-dashboard'></i>
                                            <span>Mine Arbeidstimer</span>
                                        </h1>
                                    </div>
                                </div>-->
                </div>
                <!--HER KOMMER INNHOLD PÅ SIDEN-->
                <!-- Quiklinks -->
                <div id="main-content"></div>
                <div class="row-fluid">
                    <div class="span12 box">
                        <div class="box-transparent box-padding">
                            <div class="span3">
                                <div class="box-quick-link blue-background">
                                    <a href="#">
                                        <div class="header">
                                            <div class="icon-calendar"></div>
                                        </div>
                                        <div class="content">Kalender</div>
                                    </a>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="box-quick-link green-background">
                                    <a href="#">
                                        <div class="header">
                                            <div class="icon-comment"></div>
                                        </div>
                                        <div class="content">Beskjeder</div>
                                    </a>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="box-quick-link orange-background">
                                    <a href="#">
                                        <div class="header">
                                            <div class="icon-group"></div>
                                        </div>
                                        <div class="content">Kolleger</div>
                                    </a>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="box-quick-link red-background">
                                    <a href="orders.html">
                                        <div class="header">
                                            <div class="icon-gear"></div>
                                        </div>
                                        <div class="content">Innstillinger</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Quiklinks slutt-->
                <div class="row-fluid">
                    <div class="span12 box">
                        <div class="box-header blue-background">
                            <div class="title">
                                <div class="icon-male"></div>
                                Personalia
                            </div>
                        </div>
                        <div class="box-content box-padding">
                            INNHOLD?
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6 box">
                        <div class="box-header">
                            <div class="title">
                                <div class="icon-calendar-empty"></div>
                                Denne uken
                            </div>
                        </div>
                        <div class="box-content box-statistic">
                            <h4 class="title text-primary">Neste arbeidsdag</h4>
                            <hr class="hr-normal" />
                            <p class="title"><strong>Lørdag 10:00 - 14:00</strong></p>
                            <p>22.02.2014</p>
                            <div class="text-primary icon-truck align-right"></div>
                        </div>
                        <div class="box-content box-statistic">
                            <h3 class="title text-success">21</h3>
                            <small>timer denne uken</small>
                            <div class="text-success icon-flag align-right"></div>
                        </div>
                        <div class="box-content box-statistic">
                            <h3 class="title text-muted">0</h3>
                            <small>Canceled</small>
                            <div class="text-muted icon-remove align-right"></div>
                        </div>
                        <div class="box-content box-statistic">
                            <h3 class="title text-error">9100</h3>
                            <small>Unique</small>
                            <div class="text-error icon-user align-right"></div>
                        </div>
                    </div>
                    <div class="span6 box">
                        <div class="box-header">
                            <div class="title">
                                <div class="icon-inbox"></div>
                                Orders
                            </div>
                        </div>
                        <div class="box-content box-statistic">
                            <h3 class="title text-primary">3</h3>
                            <small>Shipped</small>
                            <div class="text-primary icon-truck align-right"></div>
                        </div>
                        <div class="box-content box-statistic">
                            <h3 class="title text-success">981</h3>
                            <small>Completed</small>
                            <div class="text-success icon-flag align-right"></div>
                        </div>
                        <div class="box-content box-statistic">
                            <h3 class="title text-muted">0</h3>
                            <small>Canceled</small>
                            <div class="text-muted icon-remove align-right"></div>
                        </div>
                        <div class="box-content box-statistic">
                            <h3 class="title text-error">9100</h3>
                            <small>Unique</small>
                            <div class="text-error icon-user align-right"></div>
                        </div>

                    </div>
                </div>
                <!--HER SLUTTER INNHOLD PÅ SIDEN-->
            </div>
        </section>
    </div>
    <!-- / jquery -->
    <script src="assets/javascripts/jquery/jquery.min.js" type="text/javascript"></script>
    <!-- / jquery mobile events (for touch and slide) -->
    <script src="assets/javascripts/plugins/mobile_events/jquery.mobile-events.min.js" type="text/javascript"></script>
    <!-- / jquery migrate (for compatibility with new jquery) -->
    <script src="assets/javascripts/jquery/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- / jquery ui -->
    <script src="assets/javascripts/jquery_ui/jquery-ui.min.js" type="text/javascript"></script>
    <!-- / bootstrap -->
    <script src="assets/javascripts/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/flot/excanvas.js" type="text/javascript"></script>
    <!-- / sparklines -->
    <script src="assets/javascripts/plugins/sparklines/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- / flot charts -->
    <script src="assets/javascripts/plugins/flot/flot.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/flot/flot.resize.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/flot/flot.pie.js" type="text/javascript"></script>
    <!-- / bootstrap switch -->
    <script src="assets/javascripts/plugins/bootstrap_switch/bootstrapSwitch.min.js" type="text/javascript"></script>
    <!-- / fullcalendar -->
    <script src="assets/javascripts/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <!-- / datatables -->
    <script src="assets/javascripts/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/datatables/jquery.dataTables.columnFilter.js" type="text/javascript"></script>
    <!-- / wysihtml5 -->
    <script src="assets/javascripts/plugins/common/wysihtml5.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/common/bootstrap-wysihtml5.js" type="text/javascript"></script>
    <!-- / select2 -->
    <script src="assets/javascripts/plugins/select2/select2.js" type="text/javascript"></script>
    <!-- / color picker -->
    <script src="assets/javascripts/plugins/bootstrap_colorpicker/bootstrap-colorpicker.min.js" type="text/javascript"></script>
    <!-- / mention -->
    <script src="assets/javascripts/plugins/mention/mention.min.js" type="text/javascript"></script>
    <!-- / input mask -->
    <script src="assets/javascripts/plugins/input_mask/bootstrap-inputmask.min.js" type="text/javascript"></script>
    <!-- / fileinput -->
    <script src="assets/javascripts/plugins/fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
    <!-- / modernizr -->
    <script src="assets/javascripts/plugins/modernizr/modernizr.min.js" type="text/javascript"></script>
    <!-- / retina -->
    <script src="assets/javascripts/plugins/retina/retina.js" type="text/javascript"></script>
    <!-- / fileupload -->
    <script src="assets/javascripts/plugins/fileupload/tmpl.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/fileupload/load-image.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/fileupload/canvas-to-blob.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/fileupload/jquery.iframe-transport.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/fileupload/jquery.fileupload.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/fileupload/jquery.fileupload-fp.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/fileupload/jquery.fileupload-ui.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/fileupload/jquery.fileupload-init.js" type="text/javascript"></script>
    <!-- / timeago -->
    <script src="assets/javascripts/plugins/timeago/jquery.timeago.js" type="text/javascript"></script>
    <!-- / slimscroll -->
    <script src="assets/javascripts/plugins/slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- / autosize (for textareas) -->
    <script src="assets/javascripts/plugins/autosize/jquery.autosize-min.js" type="text/javascript"></script>
    <!-- / charCount -->
    <script src="assets/javascripts/plugins/charCount/charCount.js" type="text/javascript"></script>
    <!-- / validate -->
    <script src="assets/javascripts/plugins/validate/jquery.validate.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/validate/additional-methods.js" type="text/javascript"></script>
    <!-- / naked password -->
    <script src="assets/javascripts/plugins/naked_password/naked_password-0.2.4.min.js" type="text/javascript"></script>
    <!-- / nestable -->
    <script src="assets/javascripts/plugins/nestable/jquery.nestable.js" type="text/javascript"></script>
    <!-- / tabdrop -->
    <script src="assets/javascripts/plugins/tabdrop/bootstrap-tabdrop.js" type="text/javascript"></script>
    <!-- / jgrowl -->
    <script src="assets/javascripts/plugins/jgrowl/jquery.jgrowl.min.js" type="text/javascript"></script>
    <!-- / bootbox -->
    <script src="assets/javascripts/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <!-- / inplace editing -->
    <script src="assets/javascripts/plugins/xeditable/bootstrap-editable.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/xeditable/wysihtml5.js" type="text/javascript"></script>
    <!-- / ckeditor -->
    <script src="assets/javascripts/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <!-- / filetrees -->
    <script src="assets/javascripts/plugins/dynatree/jquery.dynatree.min.js" type="text/javascript"></script>
    <!-- / datetime picker -->
    <script src="assets/javascripts/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!-- / daterange picker -->
    <script src="assets/javascripts/plugins/bootstrap_daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.js" type="text/javascript"></script>
    <!-- / max length -->
    <script src="assets/javascripts/plugins/bootstrap_maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <!-- / dropdown hover -->
    <script src="assets/javascripts/plugins/bootstrap_hover_dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <!-- / slider nav (address book) -->
    <script src="assets/javascripts/plugins/slider_nav/slidernav-min.js" type="text/javascript"></script>
    <!-- / fuelux -->
    <script src="assets/javascripts/plugins/fuelux/wizard.js" type="text/javascript"></script>
    <!-- / flatty theme [required files] -->
    <script src="assets/javascripts/nav.js" type="text/javascript"></script>
    <!-- / flatty theme -->
    <script src="assets/javascripts/tables.js" type="text/javascript"></script>
    <script src="assets/javascripts/theme.js" type="text/javascript"></script>
    <!-- / demo -->
    <script src="assets/javascripts/demo/jquery.mockjax.js" type="text/javascript"></script>
    <script src="assets/javascripts/demo/inplace_editing.js" type="text/javascript"></script>
    <script src="assets/javascripts/demo/charts.js" type="text/javascript"></script>
    <script src="assets/javascripts/demo/demo.js" type="text/javascript"></script>
</body>
</html>
