<div id='wrapper'>
    <div class='application'>
        <div class='application-content'>
            <div class='icon-heart'></div>
            <span>Mine Arbeidstider</span>
        </div>
    </div>
    <div class='controls'>
        <div class='caret'></div>
        <div class='form-wrapper'>
            <form name="form" action="http://localhost:8181/auth/credentials" method="POST">
                <h1 class='text-center'>Logg inn</h1>
                <div class='row-fluid'>
                    <div class='span12 icon-over-input'>
                        <input value="" placeholder="Brukernavn" name="UserName" class="span12" type="text" />
                        <i class='icon-user muted'></i>
                    </div>
                </div>
                <div class='row-fluid'>
                    <div class='span12 icon-over-input'>
                        <input value="" placeholder="Passord" class="span12" name="Password" type="password" />
                        <i class='icon-lock muted'></i>
                    </div>
                </div>
                <input type="hidden" name="Continue" value="http://localhost:4242"/>
                <button class='btn btn-block'>Logg inn</button>
                <div class='text-center'>
                    <hr class='hr-normal'>
                    <a href='forgot_password.html'>Glemt passordet ditt?</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End wrapper -->


