    <div id='main-nav-bg'></div>
    <nav class='main-nav-fixed' id='main-nav'>
        <div class='navigation'>
            <ul class='nav nav-stacked'>
                <li class='active'>
                    <a href='/'>
                        <i class='icon-dashboard'></i>
                        <span>Mine Arbeidstider</span>
                    </a>
                </li>
                <li class=''>
                    <a class="dropdown-collapse" href="#"><i class='icon-sitemap'></i>
                        <span>Funksjoner</span>
                        <i class='icon-angle-down angle-down'></i>
                    </a>
                    <ul class='nav nav-stacked'>
                        <li class=''>
                            <a href='#switch-shift-with-colleague'>
                                <i class='icon-caret-right'></i>
                                <span>Bytt vakt med kollega</span>
                            </a>
                        </li>
                        <li class=''>
                            <a href='#available-shifts'>
                                <i class='icon-caret-right'></i>
                                <span>Søk om fri</span>
                            </a>
                        </li>
                        <li class=''>
                            <a href='#confirmshifts'>
                                <i class='icon-caret-right'></i>
                                <span>Sett faste fridager</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class='' href='#addressbook'>
                        <i class='icon-group'></i>
                        <span>Kolleger</span>
                    </a>
                </li>
                <li class=''>
                    <a href='#messages'>
                        <i class='icon-comments'></i>
                        <span>Meldinger</span>
                    </a>
                </li>
                <li>
                <a class='' href='#userprofile'>
                    <i class='icon-cogs'></i>
                    <span>Innstillinger</span>
                    <i class=''></i>
                </a>      
            </ul>
        </div>
    </nav>
