      <section id='content'>
        <div class='container-fluid'>
          <div class='row-fluid' id='content-wrapper'>
            <div class='span12'>
              <div class='page-header page-header-with-buttons'>
                <h1 class='pull-left'>
                  <i class='icon-dashboard'></i>
                  <span>Mine Arbeidstimer</span>
                </h1>
              </div>
              </div>
              </div>
              <div class='row-fluid'>
			  
			  <!--HER KOMMER INNHOLD PÅ SIDEN-->
			  
			  
			  
			  
			  
                <div class='span6'>
                  <div class='row-fluid'>
                    <div class='span12 box box-bordered gray-border box-nomargin'>
                      <div class='box-header gray-background'>
                        <div class='title'>
                          <i class='icon-calendar'></i>
                          Kalender
                        </div>
                      </div>
                      <div class='box-content'>
					  
					  
					  
                        <div class='full-calendar-demo'></div>
                      </div>
                    </div>
                  </div>
                 </div>
				 
				 
				 
				 
				 <div class='span6'>
				 <p><b>Notat!</b></p>
				 <p>Her må det legges inn en annen kalender som gjerne er<br>
				 responsiv. Det vil si at den kan gjøres større og mindre<br> 
				 ut i fra størrelsen på skjermen. </p>
				 </div>
				 
				 
                <!--HER SLUTTER INNHOLD PÅ SIDEN-->
				
				
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>